.card-list {
   width: 85vw;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 20px;

   @media screen and (max-width: 800px) {
    grid-template-columns: 1fr 1fr;
  } 
 }
 